/* Navbar start here */

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 65px;
  background-color: #2d2d2d;
  display: flex;
  z-index: 50;
  position: fixed;
  top: 0;
}

.firstnav {
  width: 25%;
  height: 65px;
  /* background-color: red; */
  display: flex;
}

.firstnavone {
  width: 33%;
  height: 65px;
  border-right: 1px solid #525050;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
  cursor: pointer;
}

.firstnavone > img {
  width: 72px;
}

.firstnavtwo {
  width: 33%;
  height: 65px;
  border-right: 1px solid #525050;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.firstnavtwo:hover {
  background-color: #525050;
}

.firstnavthree {
  width: 33%;
  height: 65px;
  border-right: 1px solid #525050;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.firstnavthree:hover {
  background-color: #525050;
}

.secondnav {
  width: 60%;
  height: 65px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 13px;
}

.secondnav > input {
  width: 94%;
  height: 38px;
  border-radius: 120px;
  border: none;
  outline: none;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 18px;
}

#serarchicon {
  position: relative;
  top: 0px;
  right: 28px;
  font-size: 19px;
  cursor: pointer;
}

.thirdnav {
  width: 15%;
  height: 65px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdnavinside {
  width: 25%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdnav > div > img {
  width: 20px;
  cursor: pointer;
}

.hardonetran {
  position: absolute;
  top: -400px;
  /* top: 50px; */
  transition: all 0.9s ease-in-out;
  width: 327px;
  height: 300px;
  right: 96px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signinorjoin {
  width: 100%;
  height: 58px;
  background-color: #edede9;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.navsign1 {
  text-decoration: underline;
  margin-left: 18px;
}

.navsign1:hover {
  color: blue;
}

.navname {
  margin-left: 18px;
  font-size: 18px;
  font-weight: bold;
}

.navsign2 {
  text-decoration: underline;
  margin-left: 18px;
}

.navsign2:hover {
  color: blue;
}

.navlogout2 {
  text-decoration: underline;
  margin-left: 36px;
}

.navlogout2:hover {
  color: blue;
}

.signinorjoin2 {
  width: 100%;
  height: 58px;
  background-color: white;
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 20px;
}

.signinorjoin2:hover {
  color: blue;
}
.navsign4 {
  margin-left: 18px;
}

.navsign4:hover {
  color: blue;
}

.navsign3 {
  width: 22px;
}
.reactaccount {
  font-size: 27px;
  color: black;
}

.cartcount {
  position: absolute;
  top: 28px;
  color: red;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 13px;
  right: 46px;
}

/* Navbar ends here */
